In [ ]:
import pandas as pd

In [5]:
df = pd.read_parquet('../File Data/data.parquet')

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2021-09-01 06:04:34,2021-09-01 06:15:28,2.0,4.90,1.0,N,87,229,1,16.00,0.50,0.5,2.00,0.00,0.3,21.80,2.5,0.0
1,2,2021-09-01 06:26:31,2021-09-01 06:32:39,1.0,1.13,1.0,N,162,229,1,6.00,0.50,0.5,1.96,0.00,0.3,11.76,2.5,0.0
2,2,2021-09-01 06:36:15,2021-09-01 06:40:30,2.0,1.37,1.0,N,141,262,1,6.00,0.50,0.5,1.96,0.00,0.3,11.76,2.5,0.0
3,1,2021-09-01 00:00:15,2021-09-01 00:18:34,2.0,6.50,1.0,N,90,260,2,21.00,3.00,0.5,0.00,6.55,0.3,31.35,2.5,0.0
4,2,2021-09-01 00:44:54,2021-09-01 00:56:33,1.0,2.32,1.0,N,75,238,2,10.50,0.50,0.5,0.00,0.00,0.3,11.80,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2963788,2,2021-09-30 23:09:00,2021-09-30 23:29:00,NaN,4.32,NaN,None,113,146,0,20.10,0.00,0.5,6.35,6.55,0.3,36.30,NaN,NaN
2963789,2,2021-09-30 23:39:01,2021-09-30 23:55:44,NaN,2.66,NaN,None,114,87,0,13.20,0.00,0.5,2.63,0.00,0.3,19.13,NaN,NaN
2963790,1,2021-09-30 23:46:16,2021-10-01 00:19:02,NaN,6.80,NaN,None,142,223,0,26.00,0.50,0.5,5.96,0.00,0.3,35.76,NaN,NaN
2963791,2,2021-09-30 23:29:00,2021-09-30 23:54:00,NaN,3.84,NaN,None,229,7,0,16.63,0.00,0.5,4.26,0.00,0.3,24.19,NaN,NaN
2963792,2,2021-09-30 23:00:39,2021-09-30 23:22:41,NaN,6.85,NaN,None,91,63,0,23.33,2.75,0.5,0.00,0.00,0.3,26.88,NaN,NaN

In [10]:
df.to_csv("data dls.csv")